{% extends 'base.html.twig' %}

{% block title %} Mes demandes - eSchool.Ynov {% endblock %}

{% block content %}
    <div class="spacer" data-height="15" style="height: 15px;"></div>
    <h2 class="section-title wow">Mes demandes</h2>
    <p style="margin-top: 15px">C'est sur cet espace que vous allez pouvoir vérifier l'état de vos demandes</p>
    <a href="{{ path('account') }}">< Revenir à l'espace étudiant</a>
    <hr>
    {% if app.user.demandes|length == 0 %}
        <p class="text-center">
            Vous n'avez pas encore envoyé de demande de certificat. Pour envoyer une, veuillez <a href="{{ path('home') }}">cliquer ici</a>.
        </p>
    {% else %}
        <div class="row">
            <div class="col-md-8">
                <!-- timeline wrapper -->
                <div class="timeline edu bg-white rounded shadow-dark padding-30 overflow-hidden">
                    <!-- timeline item -->
                    {% for demande in demandes %}
                        {% for details in demande.detailsDemandes %}
                            <div class="timeline-container wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">
                                <div class="content">
                                    <span class="time">{{ demande.createdAt|date('d/m/Y H:i:s')}}</span>
                                    <h3 class="title">{{ details.certificat }}</h3>
                                    {% if demande.status == 0 %}
                                    <p class="attente_button">En attente de traitement</p>
                                    {% elseif demande.status == 1 %}
                                        <p class="preparation_button">En cours de préparation</p>
                                    {% elseif demande.status == 2 %}
                                        <p class="recuperation_button">Prêt(e) à être retiré(e)</p>
                                    {% elseif demande.status == 3 %}
                                        <p class="refus_button">Refusé(e)</p>
                                    {% endif %}
                                    <p style="margin-top: 7px">{{ demande.commentaire }}</p>
                                </div>
                            </div>
                        {% endfor %}
                    {% endfor %}
                    <!-- main line -->
                    <span class="line"></span>
                </div>
            </div>
            <div class="col-md-4">
                <div class="certificat-item bg-white rounded shadow-dark text-center">
                    <h2 class="plan">Nouvelle demande</h2>
                    <a href="{{ path('certificats-scolarite') }}" class="btn btn-default">Scolaire</a>
                    <a href="{{ path('certificats-stage') }}" class="btn btn-default" style="background-color: #1BA7B2">Stage</a>
                </div>
            </div>
        </div>
    {% endif %}

{% endblock %}