{% extends 'base.html.twig' %}

{% block title %} Espace étudiant - eSchool.Ynov {% endblock %}

{% block content %}
    <div class="spacer" data-height="35" style="height: 35px;"></div>
    <h2 class="section-title wow">Espace étudiant</h2>
    <p style="margin-top: 15px">Bienvenue {{ app.user.prenom }} dans votre espace étudiant eSchool.Ynov</p>
    <div class="spacer" data-height="55" style="height: 55px"></div>
    <div class="row">
        <div class="col-md-4">
            <!-- service box -->
            <a href="{{ path('account_password') }}">
                <div class="service-box rounded data-background padding-30 text-center text-light shadow-blue" data-color="#6C6CE5" style="background-color: rgb(108, 108, 229);">
                    <i class="fas fa-key" style="font-size: 54px !important; margin-bottom: 25px"></i>
                    <h3 class="mb-3 mt-0">Modifier mon mot de passe</h3>
                </div>
            </a>
            <div class="spacer d-md-none d-lg-none" data-height="30" style="height: 30px;"></div>
        </div>

        <div class="col-md-4">
            <!-- service box -->
            <a href="{{ path('account_demande') }}">
                <div class="service-box rounded data-background padding-30 text-center shadow-yellow" data-color="#F9D74C" style="background-color: rgb(249, 215, 76);">
                    <i class="fas fa-layer-group" style="color: #454360; font-size: 54px !important; margin-bottom: 25px"></i>
                    <h3 class="mb-3 mt-0">Afficher mes demandes</h3>
                </div>
            </a>
            <div class="spacer d-md-none d-lg-none" data-height="30" style="height: 30px;"></div>
        </div>

        <div class="col-md-4">
            <!-- service box -->
            <a class="work-content" href="#small-dialog">
                <div class="service-box rounded data-background padding-30 text-center text-light shadow-pink" data-color="#F97B8B" style="background-color: rgb(249, 123, 139);">
                    <i class="fas fa-paper-plane" style="font-size: 54px !important; margin-bottom: 25px"></i>
                    <h3 class="mb-3 mt-0">Envoyer une demande</h3>
                </div>
            </a>
        </div>
        <div class="col-md-4 col-sm-6 grid-item creative design" style="position: absolute; left: 33.2609%; top: 0px;">
            <div id="small-dialog" class="white-popup certificat-dialog zoom-anim-dialog mfp-hide">
                <h2>Envoyer une demande</h2>
                <a href="{{ path('certificats-scolarite') }}" class="btn btn-default">Certificats - Scolarité</a>
                <a href="{{ path('certificats-stage') }}" class="btn btn-default" style="background-color: #1BA7B2">Certificats - Stage</a>
            </div>
        </div>
    </div>





{% endblock %}
