{% extends 'base.html.twig' %}

{% block title %}Changement de mot de passe - eSchool | Ynov Maroc{% endblock %}

{% block content %}
    <div class="spacer" data-height="35" style="height: 35px;"></div>
    <h2 class="section-title wow">Modifier mon mot de passe</h2>
    <div class="spacer" data-height="15" style="height: 15px;"></div>
    <a href="{{ path('account') }}">< Revenir à l'espace étudiant </a><br>
    <hr>
    {% if notification %}
        <div class="alert alert-success">{{ notification }}</div>
    {% endif %}
    {% if notification_error %}
        <div class="alert alert-danger">{{ notification_error }}</div>
    {% endif %}
    {{ form(form) }}
    <hr>
{% endblock %}