{% extends 'base.html.twig' %}

{% block title %} Page d'accueil - eSchool.Ynov {% endblock %}

{% block content %}
<div class="spacer" data-height="40" style="height: 40px;"></div>
<section id="home" class="home light d-flex align-items-center" style="background-color: #FFFFFF !important; border-radius: 25px">
    <div class="container">
        <div class="intro">
            <h1 class="mb-2 mt-0" style="text-align: center; margin-bottom: 20px !important;">Bienvenue sur eSchool.Ynov</h1>
            <span>Cette plateforme a pour but de vous faciliter l'obtention des différents documents scolaires ou de stage. </br> Faites votre demande en cliquant sur l'un de ces choix :</span>
            <div class="mt-4">
                <a href="{{ path('certificats-scolarite') }}" class="btn btn-default">Certificats - Scolarité</a>
                <a href="{{ path('certificats-stage') }}" class="btn btn-default" style="background-color: #1BA7B2">Certificats - Stage</a>
            </div>
        </div>
    </div>
</section>
{% endblock %}