.navbar-custom-buttons, .navbar-custom-buttons a {
    color: #fff;
}
.custom-home {
    margin-top: 90px;
    margin-bottom: 90px;
}

.custom-home h1 {
    text-align: left;
    margin-left: 10px;
    margin-bottom: 17px;
}

.cert-scolaire-button{
    margin-left: 75%;
}

@media (max-width: 790px){

    .custom-certificat {
        margin-top: 0 !important;
        margin-bottom: 14px !important;
    }

    .custom-certificat h2 {
        font-size: 24px;
    }

    .custom-home h1 {
        font-size: 24px;
    }

    .certificat-style {
        padding: 15px !important;
    }

    .certificat-style h5{
        font-size: 17px;
    }

    .certificat-style span {
        font-size: 14px;
    }

    .certificat-style a {
        font-size: 13px !important;
        margin-top: 10px !important;
    }
}
.custom-certificat {
    margin-top: 160px;
}

.footer-custom {
    position: fixed;
    text-align: center;
    bottom: 0;
    width:100%;
    height:35px;   /* Height of the footer */
    background:#343a40;
    color: white;
    padding-top: 4px;
}

.certificat-style{
    align-items: center !important;
    display: flex;
    flex-direction: column;
    padding: 35px;
    margin: 10px;
    background-color: #343a40 !important;
    border-radius: 25px;
    color: white;
}

.certificat-style h5{
    color: white !important;
}

.certificat-style a {
    margin-top: 15px;
    padding: 5px 12px;
    border-radius: 20px;
    text-decoration: none;
    width: 100%;
    text-align: center;
    font-size: 24px;
    background-color: #1ba7b2 !important;
    border-color: #1ba7b2 !important;
}

.btn-primary {
    width: 100% !important;
    text-align: center !important;
    background-color: #1ba7b2 !important;
    border-color: #1ba7b2 !important;
    border-radius: 30px !important;
}

.attente_button {
    background-color: #ffbf76;
    text-align: center;
    border-radius: 20px;
    max-width: 200px;
    padding: 2px;
}

.preparation_button {
    background-color: #acd3ff;
    text-align: center;
    border-radius: 20px;
    max-width: 200px;
    padding: 2px;
}

.recuperation_button {
    background-color: #44ee7d;
    text-align: center;
    border-radius: 20px;
    max-width: 200px;
    padding: 2px;
}

.refus_button {
    background-color: #ff9292;
    text-align: center;
    border-radius: 20px;
    max-width: 200px;
    padding: 2px;
}

.certificat-dialog {
    text-align: center !important;
}