<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title></title>

    <style>
        body {
            box-sizing: border-box;
            margin: 0;
            max-width: 21cm;
        }

        .row {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: space-between;
            align-items: stretch;
            align-content: stretch;
        }

        .container {
            margin: 25px;
        }

        .text-center {
            text-align: center;
        }

        .table-pdf {
            margin: 0 auto;
        }

        .margin-left{
            margin-left: 40px;
        }
    </style>

</head>
<body>

<div class="container">


    <table class="table-pdf" style="width: 90%">
        <tr>
            <td class="text-center" style="width: 60%"><p class="text-center">eSchool.Ynov - MAROC YNOV CAMPUS<br></p></td>
        </tr>
    </table>

    <hr>

    <h2 class="text-center"></h2>
    <h4 class="text-center">{{certname}}</h4>

    <table class="table-pdf" style="width: 90%; margin-top: 40px">
        <tr>
            <td style="width: 50%">Mr(Mlle) : {{ etudiant }}</td>
            <td class="text-center" style="width: 50%"></td>
        </tr>
        <tr>
            <td style="width: 50%">né(e) le : {{ naissance|date('d/m/Y') }}</td>
            <td class="text-center" style="width: 50%"></td>
        </tr>
    </table>

    <br><br>

    <div class="margin-left">Rabat le: {{ currentdate|date('d/m/Y') }}</div>
    <br>

    <table class="table-pdf" style="width: 90%">
        <tr>
            <td style="width: 50%"></td>
            <td class="text-center">Cachet et signature</td>
        </tr>
    </table>

    <br><br><br><br><br><br>


    <p class="margin-left">N.B: le présent certificat n'est délivré qu'en un seul exemplaire.<br>
        Il appartient à l'étudiant(e) d'en faire des copies certifiées conforme.</p>
    <hr class="margin-left" style="width: 80%">

</div>

</body>
</html>