{% extends 'base.html.twig' %}

{% block title %}Certificats - Scolarité | eSchool.Ynov{% endblock %}

{% block content %}
    <div class="spacer" data-height="35" style="height: 35px;"></div>
    <h2 class="section-title wow">Certificats - Scolarité</h2>
    <div class="spacer" data-height="15" style="height: 15px;"></div>
    <a href="{{ path('account') }}">< Revenir à l'espace étudiant</a>
    <div class="spacer" data-height="10" style="height: 10px;"></div>
    <div class="row">
        {% for certificat in certificats %}
        <div class="col-md-6">
            <div class="certificat-item bg-white rounded shadow-dark text-center">
                <h2 class="plan">{{ certificat.nom }}</h2>
                <a href="{{ path('add_demande', {'id' : certificat.id }) }}" class="btn btn-default">Demander</a>
            </div>
        </div>
        {% endfor %}
    </div>
{% endblock %}
