{% extends 'base.html.twig' %}

{% block title %}Certificats - Stage | eSchool.Ynov{% endblock %}

{% block content %}
    <div class="spacer" data-height="35" style="height: 35px;"></div>
    <h2 class="section-title wow">Certificats - Stage</h2>
    <div class="spacer" data-height="15" style="height: 15px;"></div>
    <a href="{{ path('account') }}">< Revenir à l'espace étudiant</a>
    <div class="spacer" data-height="10" style="height: 10px;"></div>

    {% if notification %}
        <div class="alert alert-info">{{ notification }}</div>
        <h3>Tableau récapitulatif:</h3>
        <Table class="table">
            <thead>
            <tr>
                <th scope="col">Certificat</th>
                <th scope="col">Categorie</th>
                <th scope="col">Date</th>
                <th scope="col">Status</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>{{ certificat.nom }}</td>
                <td>{{ certificat.categorie.nom }}</td>
                <td>{{demande.createdAt|date('d-m-Y H:i:s')}}</td>
                <td>
                    {% if demande.status == 0 %}
                        <p class="attente_button">En attente de traitement</p>
                    {% elseif demande.status == 1 %}
                        <p class="preparation_button">En cours de préparation</p>
                    {% elseif demande.status == 2 %}
                        <p class="recuperation_button">Prêt(e) à être retiré(e)</p>
                    {% elseif demande.status == 3 %}
                        <p class="refus_button">Refusé(e)</p>
                    {% endif %}
                </td>
            </tr>
            </tbody>
        </Table>
    {% else %}
        {{ form(form) }}
    {% endif %}

{% endblock %}
